#root {
  width: 100%;
  height: 100%;
  display: flex;
}

.App {
  flex: 1;
  text-align: center;
  background-color: #e0e0e0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 2rem;
  overflow: hidden;
}

.App h1 {
  margin: 0;
  padding-bottom: 0.8rem;
  font-family: "Poppins";
  color: #00000073;
}

.conversation-container {
  flex: 1;
  width: 100%;
  max-width: 60vh;
  overflow-x: hidden;
  overflow-y: auto;
  border-radius: 1.2rem;
  background-color: #e0e0e0;
  box-shadow: inset 10px 10px 20px #c6c6c6, inset -10px -10px 20px #f7f7f7;
}

.conversation-messages-list {
  padding: 3rem;
  display: flex;
  flex-direction: column-reverse;
  gap: 3rem;
}

.message-container {
  max-width: 65%;
  border-radius: 1rem;
  box-shadow: 5px 5px 10px #c6c6c6, -5px -5px 10px #f7f7f7;
  padding: 1.2rem;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 0.8rem;
  font-size: 1.2rem;
  color: #5d5d5d;
}

.message-container .text-message {
  text-align: left;
}

.message-container .image-message {
  border-radius: 0.8rem;
  width: 100%;
  height: auto;
}

.message-container a {
  text-decoration: none;
}

.message-container .attachment-message {
  transition: all 0.16s ease-in;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 5rem;
  border-radius: 0.8rem;
  padding: 1rem;
}

.message-container .attachment-message:hover {
  box-shadow: inset 3px 3px 6px #c6c6c6, inset -3px -3px 6px #f7f7f7;
}

.message-container .attachment-message:active {
  box-shadow: inset 5px 5px 10px #b4b4b4, inset -5px -5px 10px #f7f7f7;
}

.message-container .attachment-message img {
  width: auto;
  height: 100%;
  opacity: 0.5;
}

.message-container .attachment-message span {
  padding-left: 0.8rem;
  color: #5f5f5f;
  font-size: 1.4rem;
  font-weight: 500;
}

.message-container time {
  text-align: left;
  color: #888888;
  font-size: 1rem;
}

.message-container.agent {
  align-self: flex-end;
  background-color: #cfcfcf;
  color: #fff;
}

.message-container.user {
  align-self: flex-start;
  background-color: #e0e0e0;
}

.message-container.agent time {
  text-align: right;
  color: #5f5f5f;
}

.reply-box {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  gap: 2rem;
  width: 100%;
  max-width: 60vh;
}

.reply-input {
  flex: 1;
  border-radius: 1.2rem;
  border: 0;
  outline: none;
  background-color: #e0e0e0;
  box-shadow: inset 6px 6px 12px #c6c6c6, inset -6px -6px 12px #fff;
  padding: 1.2rem;
  font-size: 1.4rem;
}

.reply-button {
  font-family: "Poppins";
  border-radius: 1.2rem;
  border: 0;
  outline: none;
  background-color: #e0e0e0;
  box-shadow: 5px 5px 10px #c6c6c6, -5px -5px 10px #f7f7f7;
  padding: 0 1rem;
  color: #5d5d5d;
  font-size: 1.4rem;
  transition: all 0.16s ease-in-out;
}

.reply-button:hover {
  cursor: pointer;
  box-shadow: 5px 5px 10px #9e9e9e, -5px -5px 10px #ffffff;
}

.reply-button:active {
  background: linear-gradient(145deg, #cacaca, #f0f0f0);
  box-shadow: 5px 5px 10px #c6c6c6, -5px -5px 10px #f7f7f7;
}
